<h1>Create a Cocktail</h1>

<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Add the cocktail", class: "btn btn-primary" %>
<% end %>

<%= link_to 'Return to full cocktail list', cocktails_path %>
